<%- include('../includes/head') -%>
<body>
<%- include('../includes/sidebar') -%>

<%- include('../includes/navbar') -%>

<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<% for (const sensor of sensors) { %>			
				<div class="col-lg-4 col-xs-12">
					<div class="box-content">
						<h4 class="box-title"><%= sensor.l %></h4>
						<!-- /.dropdown js__dropdown -->
						<div class="content widget-stat">
							<div id="<%= sensor.key %>" class="left-content margin-top-15"></div>
							<!-- /#traffic-sparkline-chart-1 -->
							<div class="right-content">
								<h2 class="counter text-info"><%= sensor.temps[sensor.temps.length-1] %>°C</h2>
								<!-- /.counter -->
								<p class="text text-info">Última temperatura</p>
								<!-- /.text -->
							</div>
							<!-- .right-content -->
						</div>
						<!-- /.content widget-stat -->
					</div>
					<!-- /.box-content -->
				</div>
			<% } %>
			
			
			<!-- /.col-lg-4 col-xs-12 -->
			

			<!-- /.col-lg-4 col-xs-12 -->
		</div>
		<footer class="footer">
			<ul class="list-inline">
				<li>2016 © NinjaAdmin.</li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">Terms</a></li>
				<li><a href="#">Help</a></li>
			</ul>
		</footer>
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="assets/scripts/jquery.min.js"></script>
	<script src="assets/scripts/modernizr.min.js"></script>
	<script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="assets/plugin/nprogress/nprogress.js"></script>
	<script src="assets/plugin/sweet-alert/sweetalert.min.js"></script>
	<script src="assets/plugin/waves/waves.min.js"></script>
	<!-- Sparkline Chart -->
	<script src="assets/plugin/chart/sparkline/jquery.sparkline.min.js"></script>

	<script src="assets/scripts/main.min.js"></script>
	<script src="assets/scripts/showAll.js"></script>
	<script>
		(function($) {
	"use strict";

	var Chart = {};

	$(document).ready(function(){
		Chart.traffic();
		Chart.bar();
		Chart.pie();
		return false;
	});

	$(window).on("resize",function(){
		return false;
	});

	Chart = {
		
		traffic: function(){
			<% for (const sensor of sensors) { %>
				$("#<%= sensor.key%>").sparkline([<%= sensor.temps%>], {
					width: "120",
					height: "35",
					lineColor: "#4d8cf4",
					fillColor: !1,
					spotColor: !1,
					minSpotColor: !1,
					maxSpotColor: !1,
					lineWidth: 1.15
				});
			<% } %>
		}
	}
})(jQuery);
	</script>
</body>
</html>