<%- include('../includes/head') -%>
<body>

<%- include('../includes/sidebar') -%>
<!-- /.main-menu -->

<%- include('../includes/navbar') -%>
<!-- /.fixed-navbar -->
<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-md-3 col-xs-12">
				<div class="box-content bordered primary margin-bottom-20">
					<div class="profile-avatar">
						<img src="assets/images/serverprofile.gif" alt="">
						<h3><strong><%= user.Nome%></strong></h3>
						<h4>Trabalha na empresa <%= user.NomeEmp%></h4>
					</div>
				</div>
				<!-- /.box-content bordered -->

			</div>
			<!-- /.col-md-3 col-xs-12 -->
			<div class="col-md-9 col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<div class="box-content card">
							<h4 class="box-title"><i class="fa fa-pencil ico"></i>Editar</h4>
							<!-- /.box-title -->
							<div class="card-content mar">
								<form action="profile/edit" method="post">
									<div class="row">
										<div class="col-md-12">											
											<label for="name">Mudar Nome</label>
											<input type="text" class="form-control" name="name" value="<%= user.Nome%>">
											<!-- /.row -->
										</div>
										<div class="col-md-6">											
											<label for="user">Mudar Usuário</label>
											<input type="text" class="form-control" name="user" value="<%= user.Usuario%>">
											<!-- /.row -->
										</div>
										<div class="col-md-6">											
											<label for="password">Mudar Senha</label>
											<input type="password" class="form-control" name="password" placeholder="Coloque uma nova senha">
											<!-- /.row -->
										</div>
										<div class="col-md-12 margin-top-10">
											<button type="submit" class="btn btn-icon btn-icon-left btn-warning waves-effect waves-light btn-block"><i class="ico fa fa-check"></i>Salvar Alterações</button>
										</div>
									</div>
								</form>
								<!-- /.row -->
							</div>
							<!-- /.card-content -->
						</div>
						<!-- /.box-content card -->
						<% if(user.Nivel == 'admin'){%>
							<div class="box-content card">
								<h4 class="box-title"><i class="fa fa-plus-circle ico"></i> Adicionar uma novo usuário</h4>
								<!-- /.box-title -->
								<!-- /.dropdown js__dropdown -->
								<form action="profile/add" method="post">
									<div class="card-content mar">
										<div class="row">
											<div class="col-md-12">											
												<label for="name">Nome</label>
												<input type="name" class="form-control" required name="name" placeholder="Nome do usuário">
												<!-- /.row -->
											</div>
											<div class="col-md-6">											
												<label for="user">Usuário</label>
												<input type="text" class="form-control" required name="user" placeholder="Usuário...">
												<!-- /.row -->
											</div>
											<div class="col-md-6">											
												<label for="user">Senha</label>
												<input type="password" class="form-control" required name="password" placeholder="Senha...">
												<!-- /.row -->
											</div>
											<div class="col-md-12 margin-top-10">
												<button type="submit" class="btn btn-icon btn-icon-left btn-success waves-effect waves-light btn-block"><i class="ico fa fa-check"></i>Adicionar</button>
											</div>
										</div>
										<!-- /.row -->
									</div>
								</form>
								<!-- /.card-content -->
							</div>
							<!-- /.box-content card -->
						<% } %>
					</div>
				<!-- /.row -->
			</div>
			<!-- /.col-md-9 col-xs-12 -->
		</div>
		<!-- /.row small-spacing -->		
		<footer class="footer">
			<ul class="list-inline">
				<li>2019 © DataBytes</li>
				
				
			</ul>
		</footer>
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="assets/scripts/jquery.min.js"></script>
	<script src="assets/scripts/modernizr.min.js"></script>
	<script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="assets/plugin/nprogress/nprogress.js"></script>
	<script src="assets/plugin/sweet-alert/sweetalert.min.js"></script>
	<script src="assets/plugin/waves/waves.min.js"></script>
	<!-- Sparkline Chart -->
	<script src="assets/plugin/chart/sparkline/jquery.sparkline.min.js"></script>
	<script src="assets/scripts/chart.sparkline.init.min.js"></script>

	<script src="assets/scripts/main.min.js"></script>
</body>
</html>